# Database Configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST= localhost
POSTGRES_PORT= 5432

# Qdrant Vector Database Configuration
QDRANT_HOST= localhost
QDRANT_PORT= 6333
QDRANT_MODE=
QDRANT_API_KEY = 
QDRANT_URL = 


# API Keys (Required for MLLM functionality)
GOOGLE_API_KEY= 
NVIDIA_API_KEY= 
DEEPSEEK_API_KEY = 

# Image Directory
IMAGE_DIR= 

METADATA_TSV = 
PROMPT_VERSION =        (# ex: v7, v8)
