google-generativeai
google-cloud-storage
psycopg2-binary  
Pillow           
sentence-transformers 
python-dotenv
langchain
langchain-text-splitters
qdrant-client
tiktoken
pandas
pymupdf
#openeo
#gdal
#rasterio
#scikit-image
#langchain-anthropic
#openai
