# Database Configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# Qdrant Vector Database Configuration
QDRANT_HOST=
QDRANT_PORT=
QDRANT_MODE=
QDRANT_API_KEY = 
QDRANT_URL = 


# API Keys (Required for MLLM functionality)
GOOGLE_API_KEY= 
NVIDIA_API_KEY= 
DEEPSEEK_API_KEY = 

# Image Directory
IMAGE_DIR= 

METADATA_CSV = 

